.container-tabela {
    margin: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-elevation-z8 {
    background-color: rgb(70, 55, 55);
    border-radius: 8px;
    overflow: hidden;
  }
  
  mat-header-row, mat-row {
    color: #6200ea;
  }
  
  mat-header-cell {
    font-weight: bold;
  }
  
  .mat-paginator {
    color: #6200ea;
  }
  
  .mat-paginator-range-label {
    color: #9575cd;
  }
  
  .mat-icon-button {
    color: #7e57c2;
  }
  
  .mat-form-field-outline {
    color: #7e57c2;
  }
  
  .campo-filtro {
    margin-bottom: 16px;
  }
  
  table {
    width: 100%;
    min-width: 300px;
  }
  